<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <header>
        <h1>Agile Methodologies - Kanban</h1>
    </header>
    <hr>
    <%- include('partials/nav.ejs') %>
    <main>
        <article class="kanban-overview">
        <h2>Kanban Overview</h2>
        <p><a href="https://kanbanzone.com/resources/kanban/">Kanban</a> is a practice born out of the <a href="https://kanbanzone.com/resources/lean/toyota-production-system/">Toyota Production System</a>, sometimes also called the "Just-in-Time" production system,
            which was developed and used by Toyota to streamline its manufacturing systems. Extending from concepts such as Lean Thinking (<a href="lean.html">learn more</a>), Kanban emphasizes three key practices:</p>
        </article>

        <section class="kanban-practices-section">
            <h3>Kanban Practices</h3>
            <div class="kanban-practices-grid">
                <article class="practices-card"><span>1</span><p>Defining and visualizing a workflow</p></article>
                <article class="practices-card"><span>2</span><p>Actively managing items in a workflow</p></article>
                <article class="practices-card"><span>3</span><p>Improving a workflow</p></article>
            </div>
        </section>
        <p>Kanban's focus on visualization helps practicioners to clearly see the work required, providing easy ways to identify bottlenecks or inefficiencies in a process. This often takes the form of a "Kanban Board" (see image below).</p>
        <p>Each column within a Kanban Board represent a stage in a workflow and are populated through cards which indicate tasks that move through the process (To Do &#8594; In Progress &#8594; Done). To emphasize completion of work, each phase of a process
            generally has a limit to the number of items which can be in that phase, encouraging the full completion of tasks before new ones are started.
        </p>
        
        <section class="kanban-board-container">
            <h2>Sample Kanban Board</h2>
            
            <div class="kanban-board">
                <% lists.forEach(list => { %>
                    <div class="kanban-column">
                        <h3><%= list.name %></h3>
                        
                        <div class="kanban-cards-list">
                            <% cards.forEach(card => { %>
                                <% if (card.idList === list.id) { %>
                                    
                                    <article class="kanban-card status-<%= card.labels[0]?.color || 'default' %>">
                                        <h4><%= card.name %></h4>
                                        <% if (card.desc) { %>
                                            <p><%= card.desc %></p>
                                        <% } %>
                                        
                                        <% if (card.labels && card.labels.length > 0) { %>
                                            <div class="card-labels">
                                                <% card.labels.forEach(label => { %>
                                                    <span class="label tag-<%= label.color %>"><%= label.name %></span>
                                                <% }); %>
                                            </div>
                                        <% } %>
                                    </article>
                                    
                                <% } %>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </section>

    </main>
    
    <%-include('partials/footer.ejs') %>
    
</body>
</html>